{{/*
  mdRegionInclude.html
  Usage:
    {{< mdRegionInclude "filename.md" "region_name" >}}
*/}}

{{ $file := .Get 0 }}
{{ $region := .Get 1 }}
{{ $path := printf "%s%s" .Page.File.Dir $file }}

{{ if not $file }}
  {{ errorf "The file parameter (first argument) is required for this shortcode in %s" .Page.File.Path }}
{{ end }}
{{ if not $region }}
  {{ errorf "The region parameter (second argument) is required for this shortcode in %s" .Page.File.Path }}
{{ end }}

{{ if not (fileExists $path) }}
  {{ errorf "File %q not found in %s" $path .Page.File.Path }}
{{ end }}

{{ $content := readFile $path }}
{{ $cleanContent := replaceRE "^---[\\s\\S]+?---" "" $content }}

{{ $pattern := printf `(?s)<!-- \[START %s\] -->(.*?)<!-- \[END %s\] -->` $region $region }}
{{ $matches := findRESubmatch $pattern $cleanContent }}

{{ if eq (len $matches) 0 }}
  {{ errorf "Region %q not found in file %s" $region $file }}
{{ end }}

{{ $regionContent := index (index $matches 0) 1 }}
{{ $regionContent | markdownify }}
